
        <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/">
                            <img class="g-width-100--xs g-height-auto--xs" src="/img/martinnicolalogo.jpg" alt="Megakit Logo" style="margin-top: -20px;">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">Created by and for Martin Nicola</p>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
        <script type="text/javascript">
        (function() {
            emailjs.init("user_1S8eBb6FUdiR0P1UA2C7Q");
        })();
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script type="text/javascript" src="/js/email.js"></script>
        <script type="text/javascript" src="/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery.migrate.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery.back-to-top.min.js"></script>
        <script type="text/javascript" src="/vendor/scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="/vendor/vidbg.min.js"></script>
        <script type="text/javascript" src="/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script type="text/javascript" src="/vendor/waypoint.min.js"></script>
        <script type="text/javascript" src="/vendor/counterup.min.js"></script>
        <script type="text/javascript" src="/vendor/swiper/swiper.jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery.parallax.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery.wow.min.js"></script>
        

        <!-- General Components and Settings -->
        <script type="text/javascript" src="/js/global.min.js"></script>
        <script type="text/javascript" src="/js/components/header-sticky.min.js"></script>
        <script type="text/javascript" src="/js/components/portfolio-4-col-slider.min.js"></script>
        <script type="text/javascript" src="/js/components/counter.min.js"></script>
        <script type="text/javascript" src="/js/components/swiper.min.js"></script>
        <script type="text/javascript" src="/js/components/scrollbar.min.js"></script>
        <script type="text/javascript" src="/js/components/wow.min.js"></script>
        <!--========== END JAVASCRIPTS ==========-->

    </body>
    <!-- End Body -->
</html>
