<%- include('../partials/header.ejs') %>
  <!--========== PROMO BLOCK ==========-->
  <div class="g-bg-position--center js__parallax-window" style="background: url(img/blackboard.jpg) no-repeat; text-shadow: 4px 4px 4px #242424">
    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
      <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white g-letter-spacing--2 g-margin-b-25--xs">Math with Marty</p>
      <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-50--md g-color--white g-letter-spacing--1">Experienced Math / Science Teacher</h1>
      <h1 class="g-font-size-20--xs g-font-size-30--sm g-font-size-40--md g-color--white g-letter-spacing--1">$50/hr Sessions on Zoom</h1>
    </div>
  </div>

  <div class="schedule-container">
    <%=calendar.TimePickerBase%>
  </div>
  <!--========== END PROMO BLOCK ==========-->
<%- include('../partials/footer.ejs') %>

