body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

textarea {
  height: 200px;
}

.all-posts {
  display: flex;
  flex-direction: column;
}

.comment-author {
  font-weight: bold;
}

.comment-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15%;
}
.comment-box input {
  width: 50px;
}
