body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

textarea {
  height: 200px;
}
