<%- include('../partials/header.ejs') %>

        <!--========== PROMO BLOCK ==========-->
        <div class="g-bg-position--center js__parallax-window" style="background: url(/img/vancouver.jpeg) no-repeat; text-shadow: 4px 4px 4px #242424">
            <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white g-letter-spacing--2 g-margin-b-25--xs">Martin Nicola</p>
                <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white g-letter-spacing--1">Software Developer <br/> Math and Science Teacher</h1>
                <h1 class="g-font-size-20--xs g-font-size-30--sm g-font-size-40--md g-color--white g-letter-spacing--1">Based in Canada</h1>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- Speakers -->
        <div class="container g-padding-y-80--xs g-padding-y-125--sm">
            <div class="row g-overflow--hidden">
                <div class="col-xs-12 g-full-width--xs">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="/img/martinnicola.jpg" alt="Image" style="border-radius: 25px;">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                            <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                                <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Martin Nicola</h4>
                            </div>
                            <p class="g-font-weight--700">Developer, Teacher and YouTube Personality</p>
                            <p>Martin spent over a decade programming and teaching mathematics and physics. He also has a youtube channel called Math with Marty.</p>
                            <a href="martin-nicola-resume.pdf" id="resume" class="s-header__logo-link">
                                <img class="s-header__logo-img s-header__logo-img-default" src="/img/resume-logo.png" alt="Megakit Logo" style="width: 100px;">
                            </a> 
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
            </div>
        </div>
        <!-- End Speakers -->

        <!-- Portfolio -->
        <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
            <div class="row g-margin-b-30--xs">
                <div class="col-sm-4">
                    <div class="g-margin-t-20--md g-margin-b-40--xs">
                        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Software Development</p>
                        <h2 class="g-font-size-32--xs g-font-size-36--md">Projects</h2>
                        <p>I use most current technologies<br>Check my work out.</p>
                    </div>
                </div>

                <div class="col-sm-8">
                    <!-- Portfolio Gallery -->
                    <div id="js__grid-portfolio-gallery" class="s-portfolio__paginations-v1 cbp">
                        <!-- Item -->
                        <div class="s-portfolio__item cbp-item motion graphic">
                            <div class="s-portfolio__img-effect">
                                <img src="/img/ufc-game.png" alt="Portfolio Image" style="width: auto; height: 200px;">
                            </div>
                            <div class="s-portfolio__caption-hover--cc">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">UFC Game</h3>
                                    <p class="g-color--white-opacity">Express.js</p>
                                </div>
                                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                                    <li>
                                        <a href="/img/ufc-game.png" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="UFC Game">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.github.com/martinnicola89/UFC-Game" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                            <i class="ti-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="s-portfolio__item cbp-item logos graphic">
                            <div class="s-portfolio__img-effect">
                                <img src="/img/checkers.png" alt="Portfolio Image" style="width: auto; height: 200px;">
                            </div>
                            <div class="s-portfolio__caption-hover--cc">
                                <div class="g-margin-b-25--xs">
                                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Checkers</h4>
                                    <p class="g-color--white-opacity">HTML, CSS and JS</p>
                                </div>
                                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                                    <li>
                                        <a href="/img/checkers.png" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Checkers <br/> by Martin Nicola.">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.github.com/martinnicola89/Checkers" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                            <i class="ti-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="s-portfolio__item cbp-item logos motion">
                            <div class="s-portfolio__img-effect">
                                <img src="/img/friendly.png" alt="Portfolio Image" style="width: auto; height: 200px;">
                            </div>
                            <div class="s-portfolio__caption-hover--cc">
                                <div class="g-margin-b-25--xs">
                                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">friend.ly</h4>
                                    <p class="g-color--white-opacity">React.js</p>
                                </div>
                                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                                    <li>
                                        <a href="/img/friendly.png" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="friend.ly <br/> by Martin Nicola.">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.github.com/martinnicola89/friend.ly" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                            <i class="ti-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="s-portfolio__item cbp-item graphic">
                            <div class="s-portfolio__img-effect">
                                <img src="/img/tictactoe.png" alt="Portfolio Image" style="width: auto; height: 200px;">
                            </div>
                            <div class="s-portfolio__caption-hover--cc">
                                <div class="g-margin-b-25--xs">
                                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Tic Tac Toe</h4>
                                    <p class="g-color--white-opacity">HTML, CSS and JS</p>
                                </div>
                                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                                    <li>
                                        <a href="/img/tictactoe.png" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Tic Tac Toe <br/> by Martin Nicola.">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.github.com/martinnicola89/Tic-Tac-Toe" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                            <i class="ti-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Item -->
                    </div>
                    <!-- End Portfolio Gallery -->
                </div>
            </div>
        </div>
        <!-- End Portfolio -->

        <!-- Features -->
        <!--========== PAGE CONTENT ==========-->
        <!-- Features -->
        <div id="technologies" class="container g-padding-y-80--xs g-padding-y-125--sm">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Technologies</p>
            <div class="row g-margin-b-60--xs g-margin-b-70--md d-inline-flex w-100 ml-2">
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
                                <i class="devicon-html5-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs ">HTML5</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-css3-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">CSS3</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-javascript-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">JavaScript</h3>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-wordpress-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Wordpress</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".5s">
                                <i class="devicon-mongodb-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">MongoDB</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-nodejs-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Node.js</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-postgresql-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">PostgresQL</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-numpy-original g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">NumPy</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-python-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Python</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-swift-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">SwiftUI</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-react-original g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">React.js</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-sass-original g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Sass</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-cplusplus-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">C++</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-django-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Django</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-bootstrap-plain g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Bootstrap</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-xs-6 g-margin-b-10--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="devicon-express-original g-color--primary"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Express.js</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features -->
        <!-- End Features -->

        <!-- Clients -->
        <div class="g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-container--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <h2 class="g-font-size-32--xs g-font-size-36--sm">Socials</h2>
                </div>
            </div>
            <div style="text-align: center">
                <a href="https://www.youtube.com/mathwithmarty"><i class="ti-youtube g-b-color--dark g-padding-x-5--xs g-padding-x-15--md g-font-size-50--lg g-font-size-40--xs"></i></a>
                <a href="https://www.instagram.com/martinnicolaofficial"><i class="ti-instagram g-b-color--dark g-padding-x-5--xs g-padding-x-15--md g-font-size-50--lg g-font-size-40--xs"></i></a>
                <a href="https://www.linkedin.com/in/martinnicola"><i class="ti-linkedin g-b-color--dark g-padding-x-5--xs g-padding-x-15--md g-font-size-50--lg g-font-size-40--xs"></i></a>
            </div>
        </div>
        <!-- End Clients -->

        <!-- Feedback Form -->
        <div class="g-position--relative g-bg-color--dark-light">
            <div class="g-container--md g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Contact Me</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">Get in Touch</h2>
                </div>
                <form class="center-block g-width-500--sm g-width-550--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class="form-control s-form-v3__input" id="name" placeholder="* Your Name" required>
                    </div>
                    <div class="row g-row-col-5 g-margin-b-50--xs">
                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                            <input type="email" class="form-control s-form-v3__input" id="user_email" placeholder="* Your Email" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control s-form-v3__input" id="subject" placeholder="* Subject" required>
                        </div>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v3__input" rows="5" id="message" placeholder="* Your message" required></textarea>
                    </div>
                    <div class="g-text-center--xs">
                        <button type="submit" onclick="{sendMail(); clearField(); success()}" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Feedback Form -->
        <!--========== END PAGE CONTENT ==========-->

<%- include('../partials/footer.ejs') %>