<%- include('../partials/header.ejs') %>
  <!--========== PROMO BLOCK ==========-->
  <div class="g-bg-position--center js__parallax-window" style="background: url(/img/vancouver.jpeg) no-repeat; text-shadow: 4px 4px 4px #242424;">
    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
      <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white g-letter-spacing--2 g-margin-b-25--xs">Marty Rants</p>
      <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-50--md g-color--white g-letter-spacing--1">The Ultimate Blog on the Internet</h1>
    </div>
  </div>
    <!--========== END PROMO BLOCK ==========-->
    <p>
        <a href="/">Home</a>
        |
        <a href="/posts">All Posts</a>
        <% if (user) { %>
          |
          <a href="/logout"><i class="fa-key"></i>Log Out</a>
        <% } %>
    </p>
    <h1>New Post</h1>
    <form action="/posts" method="POST">
        <div class="post-form">
            <input name="headline" type="text" placeholder="Headline" required>
            <input name="imgLink" type="text" placeholder="Image Link (https://example.com/1.jpg)" required>
            <input name="subject" type="text" placeholder="Subject" required>
            <textarea name="body" type="text" placeholder="Body" required></textarea>
            <input type="Submit" value="Submit">
        </div>
    </form>
    
<%- include('../partials/footer.ejs') %>

