<!DOCTYPE html>
<html>
  <head>
    <title>Marty Rants</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
      <a href="/">Home</a>
      |
      <a href="/posts/new">New Post</a>
      |
      <a href="/posts">All Posts</a>
    </p>
    <h3><%=post.subject%></h3>
    <p><%=post.body%></p>
  </body>
</html>
