<!DOCTYPE html>
<html>
  <head>
    <title>Marty Rants</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
      <a href="/">Home</a>
      |
      <a href="/posts/new">New Post</a>
      |
      <a href="/posts">All Posts</a>
    </p>
    <h3><%=post.subject%></h3>
    <p><%=post.body%></p>
    <div class="btn-container">
        <a href="/posts/<%=post.id%>/edit"><button>Edit</button></a>
      <form action="/posts/<%=post.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </div>
  </body>
</html>
